<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Viewport for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <meta name="description" content="{{ title }} slide">

  <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>〽️</text></svg>" type="image/x-icon">
  <!-- Apple Touch Icon (at least 200x200px) -->
  <link rel="apple-touch-icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>〽️</text></svg>">

  <!-- To run web application in full-screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
  <!-- Has no effect unless you have the previous meta tag -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="/static/presnt.jpeg" />
  <meta property="og:type" content="article" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@rakshithbellare">
  <meta name="twitter:creator" content="@rakshithbellare">
  <meta name="twitter:url" content="{{ page.url }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="/static/presnt.jpeg">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <main>
    <h1>{{ title }}</h1>
    {{ content }}
    {% assign collectionVim = collections.vim %}
    {% assign collectionTmux = collections.tmux %}
    {% assign previousTmuxPost = collectionTmux | getPreviousCollectionItem: page %}
    {% assign previousVimPost = collectionVim | getPreviousCollectionItem: page %}
    {% assign nextVimPost = collectionVim | getNextCollectionItem: page %}
    {% assign nextTmuxPost = collectionTmux | getNextCollectionItem: page %}


    {% if previousVimPost or previousTmuxPost or nextVimPost or nextTmuxPost %}
      <nav>
        {% if previousTmuxPost %}
          <a id="previous" href="{{previousTmuxPost.url }}">⏮️</a>
        {% endif %}
        {% if nextTmuxPost %}
          <a id="next" href="{{ nextTmuxPost.url }}">⏭️</a>
        {% endif %}

        {% if previousVimPost %}
          <a id="previous" href="{{ previousVimPost.url}}">⏮️</a>
        {% endif %}
        {% if nextVimPost %}
          <a id="next" href="{{ nextVimPost.url }}">⏭️</a>
        {% endif %}
      </nav>
    {% endif %}
  </main>
  <script src="/scripts/keyboard.js" defer></script>
</body>
</html>
